form, p{
    margin: 0 auto ;
padding: 2rem;
    border: 1px  solid black;
    border-radius: 25px;
    background-color: antiquewhite;
}
h1{
    margin: 0 auto 2rem ;
    text-align: center;
}

form , div,input,textarea{
    width: 80ch;
margin-top: 0.5rem;
    
}
div{
    margin-top: 3rem;
}
.erreur{
    margin: 0 auto ;
    padding: 2rem;

}